# [Ignore node_modules folder]
#
# It's a third-party dependency folder. 
# Please run 'npm install' to create.
node_modules

# [Ignore dist folder]
#
# It's a webpack building output. 
# Please run 'npm run build' for production to create.
build

# [Ignore .DS_Store]
#
.DS_Store
src/.DS_Store
src/component/.DS_Store