.messageWrapper {
  background-color: cadetblue;
  /* height: 500px; */
}

.messageContent {
  color: blueviolet;
  word-wrap: break-word;
}

.videoWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* grid-auto-rows: minmax(100px, auto); */
}

.userInput {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  /* margin-left: 30px; */
  /* margin-right: 30px; */
}

.button {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  margin: 10px;
}

.userSelect{
  width: 50%;
}

.userOption{
  font-size: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.videoContent {
  /* width: 100%;
  height: 100%; */
  /* background-color: black; */

  flex: 1;

  /* margin: 0 auto; */
}

.videoContentLocal {
  /* width: 100%;
  height: 100%; */
  /* background-color: black; */

  flex: 1;

  /* margin: 0 auto; */
}
.videoContentRemote01 {
  /* width: 100%;
  height: 100%; */
  /* background-color: black; */
  flex: 1;
  /* margin: 0 auto; */
}
.videoContentRemote02 {
  /* width: 100%;
  height: 100%; */
  /* background-color: black; */
  flex: 1;
  /* margin: 0 auto; */
}

.fileTransferLabel {
  font-size: 25px;
}

.fileTransferInput {
  font-size: 25px;
}