.background {
  --background-height: 75px;
  --background-vertical-margin: calc((var(--controller-height) - var(--background-height)) / 2);

  width: var(--controller-width);
  height: var(--background-height);
  margin-top: var(--background-vertical-margin);
  margin-bottom: var(--background-vertical-margin);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
