.container {
  height: var(--require-auth-content-height);
  width: var(--require-auth-content-width);
  position: absolute;
  top: var(--nav-bar-heght);
  overflow: scroll;
  width: 100%;
  background-color: #ffffff
}