/* Global Styles */

html {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}

button:enabled:hover {
  opacity: 0.7;
}

