/* Global Styles */



html {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: hidden;
}

#root {
  --root-height: 100vh;
  --root-width: 100vw;
  --nav-bar-heght: 60px;
  --nav-bar-width: var(--root-width);
  --require-auth-content-height: calc(var(--root-height) - var(--nav-bar-heght));
  --require-auth-content-width: var(--root-width);

  height: var(--root-height);
  width: var(--root-width);
  position: relative;
}

button {
  cursor: pointer;
}

button:active, button:hover {
  opacity: 0.7;
}

